
@{
    ViewData["Title"] = "ComponentModals";
}
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">کامپوننت ها</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">مُدال</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">تنظیمات</button>
							<button type="button"
								class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
								data-bs-toggle="dropdown"> <span class="visually-hidden">فهرست کشویی</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a
									class="dropdown-item" href="javascript:;">عمل</a>
								<a class="dropdown-item" href="javascript:;">عمل دیگر</a>
								<a class="dropdown-item" href="javascript:;">هر چیز دیگر اینجا</a>
								<div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">لینک
									جدا کننده</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<div class="card-title">
									<h5 class="mb-0">مُدال پایه</h5>
								</div>
								<hr />
								<div class="row row-cols-auto g-3">
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#exampleModal">مُدال پایه</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleModal" tabindex="-1"
											aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">برخلاف تصور عمومی ، لورم ایپسوم متنی ساده
														تصادفی نیست. این ریشه در یک قطعه از ادبیات کلاسیک لاتین از سال
														45 قبل از میلاد دارد ، و باعث می شود بیش از 2000 سال قدمت داشته
														باشد. ریچارد مک کلینتاک ، استاد لاتین در کالج همپدن-سیدنی در
														ویرجینیا ، به جستجوی یکی از واژه های مبهم تر لاتین پرداخت.</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-primary">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#exampleScrollableModal">مُدال قابل پیمایش</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleScrollableModal" tabindex="-1"
											aria-hidden="true">
											<div class="modal-dialog modal-dialog-scrollable">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-primary">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#exampleVerticallycenteredModal">مرکز محور عمودی</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleVerticallycenteredModal" tabindex="-1"
											aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">برخلاف تصور عمومی ، لورم ایپسوم متنی ساده
														تصادفی نیست. این ریشه در یک قطعه از ادبیات کلاسیک لاتین از سال
														45 قبل از میلاد دارد ، و باعث می شود بیش از 2000 سال قدمت داشته
														باشد. ریچارد مک کلینتاک ، استاد لاتین در کالج همپدن-سیدنی در
														ویرجینیا ، به جستجوی یکی از واژه های مبهم تر لاتین پرداخت.</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-primary">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#exampleExtraLargeModal">خیلی بزرگ</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleExtraLargeModal" tabindex="-1"
											aria-hidden="true">
											<div class="modal-dialog modal-xl">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">برخلاف تصور عمومی ، لورم ایپسوم متنی ساده
														تصادفی نیست. این ریشه در یک قطعه از ادبیات کلاسیک لاتین از سال
														45 قبل از میلاد دارد ، و باعث می شود بیش از 2000 سال قدمت داشته
														باشد. ریچارد مک کلینتاک ، استاد لاتین در کالج همپدن-سیدنی در
														ویرجینیا ، به جستجوی یکی از واژه های مبهم تر لاتین پرداخت.</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-primary">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#exampleLargeModal">مُدال بزرگ</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleLargeModal" tabindex="-1" aria-hidden="true">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">برخلاف تصور عمومی ، لورم ایپسوم متنی ساده
														تصادفی نیست. این ریشه در یک قطعه از ادبیات کلاسیک لاتین از سال
														45 قبل از میلاد دارد ، و باعث می شود بیش از 2000 سال قدمت داشته
														باشد. ریچارد مک کلینتاک ، استاد لاتین در کالج همپدن-سیدنی در
														ویرجینیا ، به جستجوی یکی از واژه های مبهم تر لاتین پرداخت.</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-primary">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#exampleSmallModal">مُدال کوچک</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleSmallModal" tabindex="-1" aria-hidden="true">
											<div class="modal-dialog modal-sm">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">برخلاف تصور عمومی ، لورم ایپسوم متنی ساده
														تصادفی نیست. این ریشه در یک قطعه از ادبیات کلاسیک لاتین از سال
														45 قبل از میلاد دارد ، و باعث می شود بیش از 2000 سال قدمت داشته
														باشد. ریچارد مک کلینتاک ، استاد لاتین در کالج همپدن-سیدنی در
														ویرجینیا ، به جستجوی یکی از واژه های مبهم تر لاتین پرداخت.</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-primary">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#exampleFullScreenModal">مُدال تمام صفحه</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleFullScreenModal" tabindex="-1"
											aria-hidden="true">
											<div class="modal-dialog modal-fullscreen">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">برخلاف تصور عمومی ، لورم ایپسوم متنی ساده
														تصادفی نیست. این ریشه در یک قطعه از ادبیات کلاسیک لاتین از سال
														45 قبل از میلاد دارد ، و باعث می شود بیش از 2000 سال قدمت داشته
														باشد. ریچارد مک کلینتاک ، استاد لاتین در کالج همپدن-سیدنی در
														ویرجینیا ، به جستجوی یکی از واژه های مبهم تر لاتین پرداخت.</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-primary">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end row-->
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="card-title">
									<h5 class="mb-0">مُدال رنگی</h5>
								</div>
								<hr />
								<div class="row row-cols-auto g-3">
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-danger" data-bs-toggle="modal"
											data-bs-target="#exampleDangerModal">مُدال خطر</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleDangerModal" tabindex="-1"
											aria-hidden="true">
											<div class="modal-dialog modal-lg modal-dialog-centered">
												<div class="modal-content bg-danger">
													<div class="modal-header">
														<h5 class="modal-title text-white">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body text-white">
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-light"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-dark">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#examplePrimaryModal">مُدال اولیه</button>
										<!-- Modal -->
										<div class="modal fade" id="examplePrimaryModal" tabindex="-1"
											aria-hidden="true">
											<div class="modal-dialog modal-lg modal-dialog-centered">
												<div class="modal-content bg-primary">
													<div class="modal-header">
														<h5 class="modal-title text-white">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body text-white">
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-light"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-dark">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-warning" data-bs-toggle="modal"
											data-bs-target="#exampleWarningModal">مُدال هشدار</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleWarningModal" tabindex="-1"
											aria-hidden="true">
											<div class="modal-dialog modal-lg modal-dialog-centered">
												<div class="modal-content bg-warning">
													<div class="modal-header border-dark">
														<h5 class="modal-title text-dark">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body text-dark">
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
													</div>
													<div class="modal-footer border-dark">
														<button type="button" class="btn btn-light"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-dark">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-success" data-bs-toggle="modal"
											data-bs-target="#exampleSuccessModal">مُدال موفق</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleSuccessModal" tabindex="-1"
											aria-hidden="true">
											<div class="modal-dialog modal-lg modal-dialog-centered">
												<div class="modal-content bg-success">
													<div class="modal-header">
														<h5 class="modal-title text-white">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body text-white">
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-light"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-dark">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-dark" data-bs-toggle="modal"
											data-bs-target="#exampleDarkModal">مُدال تیره</button>
										<!-- Modal -->
										<div class="modal fade" id="exampleDarkModal" tabindex="-1" aria-hidden="true">
											<div class="modal-dialog modal-lg modal-dialog-centered">
												<div class="modal-content bg-dark">
													<div class="modal-header">
														<h5 class="modal-title text-white">عنوان مُدال</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body text-white">
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی
															نامفهوم.</p>
														<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
															متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
															تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی.</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-light"
															data-bs-dismiss="modal">بستن</button>
														<button type="button" class="btn btn-dark">ذخیره
															تغییرات</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end row-->
							</div>
						</div>
					</div>
				</div>
				<!--end row-->