
@{
    ViewData["Title"] = "ComponentAlerts";
}

				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">کامپوننت ها</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">هشدار</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">تنظیمات</button>
							<button type="button"
								class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
								data-bs-toggle="dropdown"> <span class="visually-hidden">فهرست کشویی</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a
									class="dropdown-item" href="javascript:;">عمل</a>
								<a class="dropdown-item" href="javascript:;">عمل دیگر</a>
								<a class="dropdown-item" href="javascript:;">هر چیز دیگر اینجا</a>
								<div class="dropdown-divider"></div> <a class="dropdown-item"
									href="javascript:;">لینک جدا کننده</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->
				<div class="row row-cols-1 row-cols-lg-2">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">مثال های خط مرز</h5>
								<hr />
								<div
									class="alert border-0 border-start border-5 border-primary alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-primary"><i class='bx bx-bookmark-heart'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-primary">هشدار اولیه</h6>
											<div>این یک نمونه هشدار اولیه می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-secondary alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-secondary"><i class='bx bx-tag-alt'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0">هشدار ثانویه</h6>
											<div>این یک نمونه هشدار ثانویه می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-success alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-success"><i class='bx bxs-check-circle'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-success">هشدار موفق</h6>
											<div>این یک نمونه هشدار موفق می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-danger alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-danger"><i class='bx bxs-message-square-x'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-danger">هشدار خطر</h6>
											<div>این یک نمونه هشدار خطر می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-warning alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-warning"><i class='bx bx-info-circle'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-warning">هشدار اخطار</h6>
											<div>این یک نمونه هشدار اخطار می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-info alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-info"><i class='bx bx-info-square'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-info">هشدار اطلاع</h6>
											<div>این یک نمونه هشدار اطلاع می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-dark alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35"><i class='bx bx-bell'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0">هشدار تیره</h6>
											<div>این یک نمونه هشدار تیره می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">مثال های خط مرز بدون آیکون</h5>
								<hr />
								<div
									class="alert border-0 border-start border-5 border-primary alert-dismissible fade show">
									<div>این یک نمونه هشدار اولیه می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-secondary alert-dismissible fade show">
									<div class="">این یک نمونه هشدار ثانویه می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-success alert-dismissible fade show">
									<div>این یک نمونه هشدار موفق می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert  border-0 border-start border-5 border-danger alert-dismissible fade show">
									<div>این یک نمونه هشدار خطر می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-warning alert-dismissible fade show">
									<div>این یک نمونه هشدار خطر می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-info alert-dismissible fade show">
									<div>این یک نمونه هشدار اطلاع می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert border-0 border-start border-5 border-dark alert-dismissible fade show">
									<div>این یک نمونه هشدار تیره می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">مثال های رنگی</h5>
								<hr />
								<div class="alert alert-primary border-0 bg-primary alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-white"><i class='bx bx-bookmark-heart'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-white">هشدار اولیه</h6>
											<div class="text-white">این یک نمونه هشدار اولیه می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div
									class="alert alert-secondary border-0 bg-secondary alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-white"><i class='bx bx-tag-alt'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-white">هشدار ثانویه</h6>
											<div class="text-white">این یک نمونه هشدار ثانویه می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-success border-0 bg-success alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-white"><i class='bx bxs-check-circle'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-white">هشدار موفق</h6>
											<div class="text-white">این یک نمونه هشدار موفق می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-danger border-0 bg-danger alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-white"><i class='bx bxs-message-square-x'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-white">هشدار خطر</h6>
											<div class="text-white">این یک نمونه هشدار خطر می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-warning border-0 bg-warning alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-dark"><i class='bx bx-info-circle'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-dark">هشدار اخطار</h6>
											<div class="text-dark">این یک نمونه هشدار اخطار می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-info border-0 bg-info alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-dark"><i class='bx bx-info-square'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-dark">هشدار اطلاع</h6>
											<div class="text-dark">این یک نمونه هشدار اطلاع می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-dark border-0 bg-dark alert-dismissible fade show py-2">
									<div class="d-flex align-items-center">
										<div class="font-35 text-white"><i class='bx bx-bell'></i>
										</div>
										<div class="ms-3">
											<h6 class="mb-0 text-white">هشدار تیره</h6>
											<div class="text-white">این یک نمونه هشدار تیره می باشد !</div>
										</div>
									</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">مثال های رنگی بدون آیکون</h5>
								<hr />
								<div class="alert alert-primary border-0 bg-primary alert-dismissible fade show">
									<div class="text-white">این یک نمونه هشدار اولیه می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-secondary border-0 bg-secondary alert-dismissible fade show">
									<div class="text-white">این یک نمونه هشدار ثانویه می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-success border-0 bg-success alert-dismissible fade show">
									<div class="text-white">این یک نمونه هشدار موفق می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-danger border-0 bg-danger alert-dismissible fade show">
									<div class="text-white">این یک نمونه هشدار خطر می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-warning border-0 bg-warning alert-dismissible fade show">
									<div class="text-dark">این یک نمونه هشدار اخطار می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-info border-0 bg-info alert-dismissible fade show">
									<div class="text-dark">این یک نمونه هشدار اطلاع می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
								<div class="alert alert-dark border-0 bg-dark alert-dismissible fade show">
									<div class="text-white">این یک نمونه هشدار تیره می باشد !</div>
									<button type="button" class="btn-close" data-bs-dismiss="alert"
										aria-label="Close"></button>
								</div>
							</div>
						</div>
					</div>

				</div>


