
@{
    ViewData["Title"] = "ComponentButtons";
}

					<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">کامپوننت ها</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">دکمه</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">تنظیمات</button>
							<button type="button"
								class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
								data-bs-toggle="dropdown"> <span class="visually-hidden">فهرست کشویی</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a
									class="dropdown-item" href="javascript:;">عمل</a>
								<a class="dropdown-item" href="javascript:;">عمل دیگر</a>
								<a class="dropdown-item" href="javascript:;">هر چیز دیگر اینجا</a>
								<div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">لینک
									جدا کننده</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<div>
									<h5 class="card-title">مثال های پایه</h5>
								</div>
								<hr />
								<div class="row row-cols-auto g-3">
									<div class="col">
										<button type="button" class="btn btn-primary px-5">اولیه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-secondary px-5">ثانویه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-success px-5">موفق</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-danger px-5">خطر</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-warning px-5">هشدار</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-info px-5">اطلاع</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-light px-5">روشن</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-dark px-5">تاریک</button>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<button type="button" class="btn btn-outline-primary px-5">اولیه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-secondary px-5">ثانویه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-success px-5">موفق</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-danger px-5">خطر</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-warning px-5">هشدار</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-info px-5">اطلاع</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-light px-5">روشن</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-dark px-5">تاریک</button>
									</div>
								</div>
								<!--end row-->
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<div>
									<h5 class="card-title">دکمه های دور گرد</h5>
								</div>
								<hr />
								<div class="row row-cols-auto g-3">
									<div class="col">
										<button type="button" class="btn btn-primary px-5 radius-30">اولیه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-secondary px-5 radius-30">ثانویه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-success px-5 radius-30">موفق</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-danger px-5 radius-30">خطر</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-warning px-5 radius-30">هشدار</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-info px-5 radius-30">اطلاع</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-light px-5 radius-30">روشن</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-dark px-5 radius-30">تاریک</button>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<button type="button"
											class="btn btn-outline-primary px-5 radius-30">اولیه</button>
									</div>
									<div class="col">
										<button type="button"
											class="btn btn-outline-secondary px-5 radius-30">ثانویه</button>
									</div>
									<div class="col">
										<button type="button"
											class="btn btn-outline-success px-5 radius-30">موفق</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-danger px-5 radius-30">خطر</button>
									</div>
									<div class="col">
										<button type="button"
											class="btn btn-outline-warning px-5 radius-30">هشدار</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-info px-5 radius-30">اطلاع</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-light px-5 radius-30">روشن</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-dark px-5 radius-30">تاریک</button>
									</div>
								</div>
								<!--end row-->
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<div>
									<h5 class="card-title">دکمه با آیکون</h5>
								</div>
								<hr />
								<div class="row row-cols-auto g-3">
									<div class="col">
										<button type="button" class="btn btn-primary px-5"><i
												class='bx bxs-user mr-1'></i>شخص</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-secondary px-5"><i
												class='bx bxs-comment mr-1'></i>دیدگاه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-success px-5"><i
												class='bx bxs-home mr-1'></i>خانه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-danger px-5"><i
												class='bx bxs-bookmark mr-1'></i>علامت گذاری</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-warning px-5"><i
												class='bx bxs-heart-circle mr-1'></i>پسند</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-info px-5"><i
												class='bx bxs-cloud-download mr-1'></i>دانلود ها</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-dark px-5"><i
												class='bx bxs-cloud-upload mr-1'></i>آپلود</button>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<button type="button" class="btn btn-outline-primary px-5"><i
												class='bx bxs-user mr-1'></i>شخص</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-secondary px-5"><i
												class='bx bxs-comment mr-1'></i>دیدگاه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-success px-5"><i
												class='bx bxs-home mr-1'></i>خانه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-danger px-5"><i
												class='bx bxs-bookmark mr-1'></i>علامت گذاری</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-warning px-5"><i
												class='bx bxs-heart-circle mr-1'></i>پسند</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-info px-5"><i
												class='bx bxs-cloud-download mr-1'></i>دانلود ها</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-dark px-5"><i
												class='bx bxs-cloud-upload mr-1'></i>آپلود</button>
									</div>
								</div>
								<!--end row-->
							</div>
							<div class="card-body">
								<div class="row row-cols-auto g-3">
									<div class="col">
										<button type="button" class="btn btn-primary px-5 radius-30"><i
												class='bx bxs-user mr-1'></i>شخص</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-secondary px-5 radius-30"><i
												class='bx bxs-comment mr-1'></i>دیدگاه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-success px-5 radius-30"><i
												class='bx bxs-home mr-1'></i>خانه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-danger px-5 radius-30"><i
												class='bx bxs-bookmark mr-1'></i>علامت گذاری</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-warning px-5 radius-30"><i
												class='bx bxs-heart-circle mr-1'></i>پسند</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-info px-5 radius-30"><i
												class='bx bxs-cloud-download mr-1'></i>دانلود ها</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-dark px-5 radius-30"><i
												class='bx bxs-cloud-upload mr-1'></i>آپلود</button>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<button type="button" class="btn btn-outline-primary px-5 radius-30"><i
												class='bx bxs-user mr-1'></i>شخص</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-secondary px-5 radius-30"><i
												class='bx bxs-comment mr-1'></i>دیدگاه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-success px-5 radius-30"><i
												class='bx bxs-home mr-1'></i>خانه</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-danger px-5 radius-30"><i
												class='bx bxs-bookmark mr-1'></i>علامت گذاری</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-warning px-5 radius-30"><i
												class='bx bxs-heart-circle mr-1'></i>پسند</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-info px-5 radius-30"><i
												class='bx bxs-cloud-download mr-1'></i>دانلود ها</button>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<button type="button" class="btn btn-primary"><i class='bx bxs-user me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-secondary"><i
												class='bx bxs-comment-detail me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-success"><i
												class='bx bxs-diamond me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-danger"><i class='bx bxs-blanket me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-warning"><i class='bx bxs-heart me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-info"><i
												class='bx bxs-camera-movie me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-dark"><i class='bx bxs-like me-0'></i>
										</button>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<button type="button" class="btn btn-outline-primary"><i
												class='bx bxs-user me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-secondary"><i
												class='bx bxs-comment-detail me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-success"><i
												class='bx bxs-diamond me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-danger"><i
												class='bx bxs-blanket me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-warning"><i
												class='bx bxs-heart me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-info"><i
												class='bx bxs-camera-movie me-0'></i>
										</button>
									</div>
									<div class="col">
										<button type="button" class="btn btn-outline-dark"><i
												class='bx bxs-like me-0'></i>
										</button>
									</div>
								</div>
								<!--end row-->
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<div>
									<h5 class="card-title">دکمه های گروهی</h5>
								</div>
								<hr />
								<div class="row row-cols-auto g-3">
									<div class="col">
										<div class="btn-group" role="group" aria-label="First group">
											<button type="button" class="btn btn-primary">1</button>
											<button type="button" class="btn btn-primary">2</button>
											<button type="button" class="btn btn-primary">3</button>
											<button type="button" class="btn btn-primary">4</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="First group">
											<button type="button" class="btn btn-dark">5</button>
											<button type="button" class="btn btn-dark">6</button>
											<button type="button" class="btn btn-dark">7</button>
											<button type="button" class="btn btn-dark">8</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="First group">
											<button type="button" class="btn btn-warning">9</button>
											<button type="button" class="btn btn-warning">10</button>
											<button type="button" class="btn btn-warning">11</button>
											<button type="button" class="btn btn-warning">12</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="First group">
											<button type="button" class="btn btn-outline-secondary">13</button>
											<button type="button" class="btn btn-outline-secondary">14</button>
											<button type="button" class="btn btn-outline-secondary">15</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="First group">
											<button type="button" class="btn btn-outline-primary">16</button>
											<button type="button" class="btn btn-outline-primary">17</button>
											<button type="button" class="btn btn-outline-primary">18</button>
											<button type="button" class="btn btn-outline-primary">19</button>
											<button type="button" class="btn btn-outline-primary">20</button>
										</div>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<div class="btn-group" role="group"
											aria-label="Button group with nested dropdown">
											<button type="button" class="btn btn-primary">1</button>
											<button type="button" class="btn btn-primary">2</button>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-primary dropdown-toggle"
													data-bs-toggle="dropdown" aria-expanded="false">فهرست کشویی</button>
												<ul class="dropdown-menu">
													<li><a class="dropdown-item" href="#">لینک فهرست کشویی</a>
													</li>
													<li><a class="dropdown-item" href="#">لینک فهرست کشویی</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group"
											aria-label="Button group with nested dropdown">
											<button type="button" class="btn btn-danger">1</button>
											<button type="button" class="btn btn-danger">2</button>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-danger dropdown-toggle"
													data-bs-toggle="dropdown" aria-expanded="false">فهرست کشویی</button>
												<ul class="dropdown-menu">
													<li><a class="dropdown-item" href="#">لینک فهرست کشویی</a>
													</li>
													<li><a class="dropdown-item" href="#">لینک فهرست کشویی</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group"
											aria-label="Button group with nested dropdown">
											<button type="button" class="btn btn-success">1</button>
											<button type="button" class="btn btn-success">2</button>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-success dropdown-toggle"
													data-bs-toggle="dropdown" aria-expanded="false">فهرست کشویی</button>
												<ul class="dropdown-menu">
													<li><a class="dropdown-item" href="#">لینک فهرست کشویی</a>
													</li>
													<li><a class="dropdown-item" href="#">لینک فهرست کشویی</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group"
											aria-label="Button group with nested dropdown">
											<button type="button" class="btn btn-info">1</button>
											<button type="button" class="btn btn-info">2</button>
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-info dropdown-toggle"
													data-bs-toggle="dropdown" aria-expanded="false">فهرست کشویی</button>
												<ul class="dropdown-menu">
													<li><a class="dropdown-item" href="#">لینک فهرست کشویی</a>
													</li>
													<li><a class="dropdown-item" href="#">لینک فهرست کشویی</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary">راست</button>
											<button type="button" class="btn btn-secondary">وسط</button>
											<button type="button" class="btn btn-secondary">چپ</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-primary">راست</button>
											<button type="button" class="btn btn-primary">وسط</button>
											<button type="button" class="btn btn-primary">چپ</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-danger">راست</button>
											<button type="button" class="btn btn-danger">وسط</button>
											<button type="button" class="btn btn-danger">چپ</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-success">راست</button>
											<button type="button" class="btn btn-success">وسط</button>
											<button type="button" class="btn btn-success">چپ</button>
										</div>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-outline-secondary">راست</button>
											<button type="button" class="btn btn-outline-secondary">وسط</button>
											<button type="button" class="btn btn-outline-secondary">چپ</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-outline-primary">راست</button>
											<button type="button" class="btn btn-outline-primary">وسط</button>
											<button type="button" class="btn btn-outline-primary">چپ</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-outline-danger">راست</button>
											<button type="button" class="btn btn-outline-danger">وسط</button>
											<button type="button" class="btn btn-outline-danger">چپ</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-outline-success">راست</button>
											<button type="button" class="btn btn-outline-success">وسط</button>
											<button type="button" class="btn btn-outline-success">چپ</button>
										</div>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-dark"><i class="bx bx-like"></i>
											</button>
											<button type="button" class="btn btn-dark"><i class="bx bx-share"></i>
											</button>
											<button type="button" class="btn btn-dark"><i
													class="bx bx-comment-detail"></i>
											</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-info"><i class="bx bxs-music"></i>
											</button>
											<button type="button" class="btn btn-info"><i class="bx bxs-heart"></i>
											</button>
											<button type="button" class="btn btn-info"><i class="bx bxs-florist"></i>
											</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-warning"><i
													class="bx bx-left-arrow"></i>
											</button>
											<button type="button" class="btn btn-warning"><i class="bx bx-up-arrow"></i>
											</button>
											<button type="button" class="btn btn-warning"><i
													class="bx bx-right-arrow"></i>
											</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-primary"><i
													class="bx bxl-facebook-square"></i>
											</button>
											<button type="button" class="btn btn-primary"><i class="bx bxl-twitter"></i>
											</button>
											<button type="button" class="btn btn-primary"><i
													class="bx bxl-linkedin-square"></i>
											</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-danger"><i
													class='bx bx-pointer me-0'></i>
											</button>
											<button type="button" class="btn btn-danger"><i
													class='bx bx-search-alt me-0'></i>
											</button>
											<button type="button" class="btn btn-danger"><i
													class='bx bx-rotate-right me-0'></i>
											</button>
											<button type="button" class="btn btn-danger"><i
													class='bx bx-aperture me-0'></i>
											</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-secondary"><i
													class='bx bx-export me-0'></i>
											</button>
											<button type="button" class="btn btn-secondary"><i
													class='bx bx-star me-0'></i>
											</button>
											<button type="button" class="btn btn-secondary"><i
													class='bx bx-pin me-0'></i>
											</button>
											<button type="button" class="btn btn-secondary"><i
													class='bx bx-cloud-light-rain me-0'></i>
											</button>
										</div>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-outline-dark"><i
													class="bx bx-like"></i>
											</button>
											<button type="button" class="btn btn-outline-dark"><i
													class="bx bx-share"></i>
											</button>
											<button type="button" class="btn btn-outline-dark"><i
													class="bx bx-comment-detail"></i>
											</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-outline-info"><i
													class="bx bxs-music"></i>
											</button>
											<button type="button" class="btn btn-outline-info"><i
													class="bx bxs-heart"></i>
											</button>
											<button type="button" class="btn btn-outline-info"><i
													class="bx bxs-florist"></i>
											</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-outline-warning"><i
													class="bx bx-right-arrow"></i>
											</button>
											<button type="button" class="btn btn-outline-warning"><i
													class="bx bx-up-arrow"></i>
											</button>
											<button type="button" class="btn btn-outline-warning"><i
													class="bx bx-left-arrow"></i>
											</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group" role="group" aria-label="Basic example">
											<button type="button" class="btn btn-outline-primary"><i
													class="bx bxl-facebook-square"></i>
											</button>
											<button type="button" class="btn btn-outline-primary"><i
													class="bx bxl-twitter"></i>
											</button>
											<button type="button" class="btn btn-outline-primary"><i
													class="bx bxl-linkedin-square"></i>
											</button>
										</div>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
											<button type="button" class="btn btn-dark">دکمه</button>
											<button type="button" class="btn btn-dark">دکمه</button>
											<button type="button" class="btn btn-dark">دکمه</button>
											<button type="button" class="btn btn-dark">دکمه</button>
											<button type="button" class="btn btn-dark">دکمه</button>
											<button type="button" class="btn btn-dark">دکمه</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
											<button type="button" class="btn btn-warning">دکمه</button>
											<button type="button" class="btn btn-warning">دکمه</button>
											<button type="button" class="btn btn-warning">دکمه</button>
											<button type="button" class="btn btn-warning">دکمه</button>
											<button type="button" class="btn btn-warning">دکمه</button>
											<button type="button" class="btn btn-warning">دکمه</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
											<button type="button" class="btn btn-outline-danger">دکمه</button>
											<button type="button" class="btn btn-outline-danger">دکمه</button>
											<button type="button" class="btn btn-outline-danger active">دکمه</button>
											<button type="button" class="btn btn-outline-danger">دکمه</button>
											<button type="button" class="btn btn-outline-danger">دکمه</button>
											<button type="button" class="btn btn-outline-danger">دکمه</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
											<button type="button" class="btn btn-outline-success">دکمه</button>
											<button type="button" class="btn btn-outline-success">دکمه</button>
											<button type="button" class="btn btn-outline-success">دکمه</button>
											<button type="button" class="btn btn-outline-success">دکمه</button>
											<button type="button" class="btn btn-outline-success">دکمه</button>
											<button type="button" class="btn btn-outline-success">دکمه</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
											<button type="button" class="btn btn-info"><i
													class='bx bxl-facebook-square me-0'></i>
											</button>
											<button type="button" class="btn btn-info"><i
													class='bx bxl-twitter me-0'></i>
											</button>
											<button type="button" class="btn btn-info"><i
													class='bx bxl-linkedin-square me-0'></i>
											</button>
											<button type="button" class="btn btn-info"><i
													class='bx bxl-youtube me-0'></i>
											</button>
											<button type="button" class="btn btn-info"><i
													class='bx bxl-wordpress me-0'></i>
											</button>
											<button type="button" class="btn btn-info"><i
													class='bx bxl-pinterest me-0'></i>
											</button>
										</div>
									</div>
									<div class="col">
										<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
											<button type="button" class="btn btn-dark"><i
													class='bx bx-home-smile me-0'></i>
											</button>
											<button type="button" class="btn btn-dark"><i
													class='bx bx-coin-stack me-0'></i>
											</button>
											<button type="button" class="btn btn-dark"><i
													class='bx bx-book-heart me-0'></i>
											</button>
											<button type="button" class="btn btn-dark"><i
													class='bx bx-video-recording me-0'></i>
											</button>
											<button type="button" class="btn btn-dark"><i
													class='bx bx-paper-plane me-0'></i>
											</button>
											<button type="button" class="btn btn-dark"><i
													class='bx bx-trash-alt me-0'></i>
											</button>
										</div>
									</div>
								</div>
								<!--end row-->
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<div>
									<h5 class="card-title">دکمه های فهرست کشویی</h5>
								</div>
								<hr />
								<div class="row row-cols-auto g-3">
									<div class="col">
										<div class="dropdown">
											<button class="btn btn-primary dropdown-toggle" type="button"
												data-bs-toggle="dropdown" aria-expanded="false">اولیه</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="dropdown">
											<button class="btn btn-secondary dropdown-toggle" type="button"
												data-bs-toggle="dropdown" aria-expanded="false">ثانویه</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="dropdown">
											<button class="btn btn-success dropdown-toggle" type="button"
												data-bs-toggle="dropdown" aria-expanded="false">موفق</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="dropdown">
											<button class="btn btn-info dropdown-toggle" type="button"
												data-bs-toggle="dropdown" aria-expanded="false">اطلاع</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="dropdown">
											<button class="btn btn-warning dropdown-toggle" type="button"
												data-bs-toggle="dropdown" aria-expanded="false">هشدار</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="dropdown">
											<button class="btn btn-danger dropdown-toggle" type="button"
												data-bs-toggle="dropdown" aria-expanded="false">خطر</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-primary">اولیه</button>
											<button type="button"
												class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-secondary">ثانویه</button>
											<button type="button"
												class="btn btn-secondary split-bg-secondary dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-success">موفق</button>
											<button type="button"
												class="btn btn-success split-bg-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-info">اطلاع</button>
											<button type="button"
												class="btn btn-info split-bg-info dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-warning">هشدار</button>
											<button type="button"
												class="btn btn-warning split-bg-warning dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-danger">خطر</button>
											<button type="button"
												class="btn btn-danger split-bg-danger dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="w-100 border-top"></div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-outline-primary">فهرست کشویی</button>
											<button type="button"
												class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-outline-secondary">فهرست کشویی</button>
											<button type="button"
												class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-outline-success">فهرست کشویی</button>
											<button type="button"
												class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-outline-info">فهرست کشویی</button>
											<button type="button"
												class="btn btn-outline-info dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-outline-warning">فهرست کشویی</button>
											<button type="button"
												class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col">
										<div class="btn-group">
											<button type="button" class="btn btn-outline-danger">فهرست کشویی</button>
											<button type="button"
												class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false"> <span
													class="visually-hidden">فهرست کشویی</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">عمل</a>
												</li>
												<li><a class="dropdown-item" href="#">عمل دیگر</a>
												</li>
												<li><a class="dropdown-item" href="#">هر چیز دیگر اینجا</a>
												</li>
												<li>
													<hr class="dropdown-divider">
												</li>
												<li><a class="dropdown-item" href="#">لینک جدا کننده</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!--end row -->
							</div>
						</div>
					</div>
				</div>
				<!--end row-->