@{
    ViewData["Title"] = "FormSelect2";
}

				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">فرم ها</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">انتخاب 2</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">تنظیمات</button>
							<button type="button"
								class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
								data-bs-toggle="dropdown"> <span class="visually-hidden">فهرست کشویی</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a
									class="dropdown-item" href="javascript:;">عمل</a>
								<a class="dropdown-item" href="javascript:;">عمل دیگر</a>
								<a class="dropdown-item" href="javascript:;">هر چیز دیگر اینجا</a>
								<div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">لینک
									جدا کننده</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->
				<div class="row">
					<div class="col-xl-9 mx-auto">
						<h6 class="mb-0 text-uppercase">کنترل های انتخاب 2</h6>
						<hr />
						<div class="card">
							<div class="card-body">
								<div class="border p-3 rounded">
									<div class="mb-3">
										<label class="form-label">کنترل متن انتخاب 2</label>
										<select class="single-select">
											<option value="AF">افغانستان</option>
											<option value="AL">آلبانی</option>
											<option value="DZ">الجزایر</option>
											<option value="AS">ساموآی آمریکا</option>
											<option value="AD">آندورا</option>
											<option value="AG">آنگولا</option>
											<option value="AI">آنگویلا</option>
											<option value="AG">آنتیگوآ و باربودا</option>
											<option value="AR">آرژانتین</option>
											<option value="AA">ارمنستان</option>
											<option value="AW">آروبا</option>
											<option value="AU">استرالیا</option>
											<option value="AT">اتریش</option>
											<option value="AZ">آذربایجان</option>
											<option value="BS">باهاما</option>
											<option value="BH">بحرین</option>
											<option value="BD">بنگلادش</option>
											<option value="BB">باربادوس</option>
											<option value="BY">بلاروس</option>
											<option value="BE">بلژیک</option>
											<option value="BZ">بلیز</option>
											<option value="BJ">بنین</option>
											<option value="BM">برمودا</option>
											<option value="BT">بوتان</option>
											<option value="BO">بولیوی</option>
											<option value="BL">بونیر</option>
											<option value="BA">بوسنی و هرزگوین</option>
											<option value="BW">بوتسوانا</option>
											<option value="BR">برزیل</option>
											<option value="BC">قلمرو بریتانیا در اقیانوس هند</option>
											<option value="BN">برونئی</option>
											<option value="BG">بلغارستان</option>
											<option value="BF">بورکینافاسو</option>
											<option value="BI">بوروندی</option>
											<option value="KH">کامبوج</option>
											<option value="CM">کامرون</option>
											<option value="CA">کانادا</option>
											<option value="IC">جزایر قناری</option>
											<option value="CV">کیپ ورد</option>
											<option value="KY">جزایر کیمن</option>
											<option value="CF">جمهوری آفریقای مرکزی</option>
											<option value="TD">چاد</option>
											<option value="CD">جزایر مانش</option>
											<option value="CL">شیلی</option>
											<option value="CN">چین</option>
											<option value="CI">جزایر کریسمس</option>
											<option value="CS">جزایر کوکوس</option>
											<option value="CO">کلمبیا</option>
											<option value="CC">کومورو</option>
											<option value="CG">کونگو</option>
											<option value="CK">جزایر کوک</option>
											<option value="CR">کاستاریکا</option>
											<option value="CT">ساحل عاج</option>
											<option value="HR">کرواسی</option>
											<option value="CU">کوبا</option>
											<option value="CB">کوراکائو</option>
											<option value="CY">قبرس</option>
											<option value="CZ">جمهوری چک</option>
											<option value="DK">دانمارک</option>
											<option value="DJ">جیبوتی</option>
											<option value="DM">دومنیکا</option>
											<option value="DO">جمهوری دومنیکن</option>
											<option value="TM">تیمور شرقی</option>
											<option value="EC">اکوادور</option>
											<option value="EG">مصر</option>
											<option value="SV">ال سالوادور</option>
											<option value="GQ">گینه استوایی</option>
											<option value="ER">اریتره</option>
											<option value="EE">استونی</option>
											<option value="ET">اتیوپی</option>
											<option value="FA">چزایر فالکلند</option>
											<option value="FO">جزایر فارو</option>
											<option value="FJ">فیجی</option>
											<option value="FI">فنلاند</option>
											<option value="FR">فرانسه</option>
											<option value="GF">گویان فرانسه</option>
											<option value="PF">پلی نزی فرانسه</option>
											<option value="FS">سرزمین های جنوبی فرانسه</option>
											<option value="GA">گابون</option>
											<option value="GM">گامبیا</option>
											<option value="GE">گرجستان</option>
											<option value="DE">آلمان</option>
											<option value="GH">غنا</option>
											<option value="GI">جبل الطارق</option>
											<option value="GB">بریتانیا</option>
											<option value="GR">یونان</option>
											<option value="GL">گرینلند</option>
											<option value="GD">گرنادا</option>
											<option value="GP">جزیره گوآدلوپ</option>
											<option value="GU">گوآم</option>
											<option value="GT">گوآتمالا</option>
											<option value="GN">گینه</option>
											<option value="GY">گویان</option>
											<option value="HT">هائیتی</option>
											<option value="HW">هاوایی</option>
											<option value="HN">هندوراس</option>
											<option value="HK">هنگ کنگ</option>
											<option value="HU">مجارستان</option>
											<option value="IS">ایسلند</option>
											<option value="IN">هند</option>
											<option value="ID">اندونزی</option>
											<option value="IA">ایران</option>
											<option value="IQ">عراق</option>
											<option value="IR">ایرلند</option>
											<option value="IM">جزیره من</option>
											<option value="IL">اسرائیل</option>
											<option value="IT">ایتالیا</option>
											<option value="JM">جامائیکا</option>
											<option value="JP">ژاپن</option>
											<option value="JO">اردن</option>
											<option value="KZ">قزاقستان</option>
											<option value="KE">کنیا</option>
											<option value="KI">کریباتی</option>
											<option value="NK">کره شمالی</option>
											<option value="KS">کره جنوبی</option>
											<option value="KW">کویت</option>
											<option value="KG">قرقیزستان</option>
											<option value="LA">لائوس</option>
											<option value="LV">لاتویا</option>
											<option value="LB">لبنان</option>
											<option value="LS">لسوتو</option>
											<option value="LR">لیبریا</option>
											<option value="LY">لیبی</option>
											<option value="LI">لیختنشتاین</option>
											<option value="LT">لتونی</option>
											<option value="LU">لوکزامبورگ</option>
											<option value="MO">ماکائو</option>
											<option value="MK">مقدونیه</option>
											<option value="MG">ماداگاسکار</option>
											<option value="MY">مالزی</option>
											<option value="MW">مالاوی</option>
											<option value="MV">مالدیو</option>
											<option value="ML">مالی</option>
											<option value="MT">مالتا</option>
											<option value="MH">جزایر مارشال</option>
											<option value="MQ">مارتینیک</option>
											<option value="MR">مائوریتانی</option>
											<option value="MU">موریس</option>
											<option value="ME">مایوت</option>
											<option value="MX">مکزیک</option>
											<option value="MI">جزایر میدوی</option>
											<option value="MD">مولداوی</option>
											<option value="MC">موناکو</option>
											<option value="MN">مغولستان</option>
											<option value="MS">مونسرات</option>
											<option value="MA">مراکش</option>
											<option value="MZ">موزامبیک</option>
											<option value="MM">میانمار</option>
											<option value="NA">نامبی</option>
											<option value="NU">نائورا</option>
											<option value="NP">نپال</option>
											<option value="AN">آنتیل هلند</option>
											<option value="NL">هلند</option>
											<option value="NV">نویس</option>
											<option value="NC">کادونیای جدید</option>
											<option value="NZ">نیوزلند</option>
											<option value="NI">نیکاراگوئه</option>
											<option value="NE">نیجر</option>
											<option value="NG">نیجریه</option>
											<option value="NW">نیووی</option>
											<option value="NF">جزایر نورفولک</option>
											<option value="NO">نروژ</option>
											<option value="OM">عمان</option>
											<option value="PK">پاکستان</option>
											<option value="PW">جزایر پالائو</option>
											<option value="PS">فلسطین</option>
											<option value="PA">پاناما</option>
											<option value="PG">گینه پاپوآ</option>
											<option value="PY">پاراگوئه</option>
											<option value="PE">پرو</option>
											<option value="PH">فیلیپین</option>
											<option value="PO">پزایر پیتکایرن</option>
											<option value="PL">لهستان</option>
											<option value="PT">پرتغال</option>
											<option value="PR">پورتوریکو</option>
											<option value="QA">قطر</option>
											<option value="ME">جمهوری مونته نگرو</option>
											<option value="RE">رئونیون</option>
											<option value="RO">رومانی</option>
											<option value="RU">روسیه</option>
											<option value="RW">رواندا</option>
											<option value="SM">سن مارینو</option>
											<option value="SA">عربستان سعودی</option>
											<option value="SN">سنگال</option>
											<option value="RS">صربستان</option>
											<option value="SL">سیرالئون</option>
											<option value="SG">سنگاپور</option>
											<option value="SK">اسلواکی</option>
											<option value="SI">اسلوونی</option>
											<option value="SB">جزایر سلیمان</option>
											<option value="OI">سومالی</option>
											<option value="ZA">آفریقای جنوبی</option>
											<option value="ES">اسپانیا</option>
											<option value="LK">سریلانکا</option>
											<option value="SD">سودان</option>
											<option value="SR">سورینام</option>
											<option value="SE">سوئی</option>
											<option value="CH">سوئیس</option>
											<option value="SY">سوریه</option>
											<option value="TA">تاهیتی</option>
											<option value="TW">تایوان</option>
											<option value="TJ">تاجیکستان</option>
											<option value="TZ">تانزانیا</option>
											<option value="TH">تایلند</option>
											<option value="TG">توگو</option>
											<option value="TT">ترینداد و توباگو</option>
											<option value="TN">تونس</option>
											<option value="TR">ترکیه</option>
											<option value="TU">ترکمنستان</option>
											<option value="UG">اوگاندا</option>
											<option value="UA">اوکراین</option>
											<option value="AE">امارات</option>
											<option value="GB">انگلستان</option>
											<option value="US">آمریکا</option>
											<option value="UY">اروگوئه</option>
											<option value="UZ">ازبکستان</option>
											<option value="VS">واتیکان</option>
											<option value="VE">ونزوئلا</option>
											<option value="VN">ویتنام</option>
											<option value="YE">یمن</option>
											<option value="ZM">زامبیا</option>
											<option value="ZW">زیمباوه</option>
										</select>
									</div>
									<div class="mb-3 select2-sm">
										<label class="form-label">کنترل متن کوچک انتخاب 2</label>
										<select class="single-select">
											<option value="AF">افغانستان</option>
											<option value="AL">آلبانی</option>
											<option value="DZ">الجزایر</option>
											<option value="AS">ساموآی آمریکا</option>
											<option value="AD">آندورا</option>
											<option value="AG">آنگولا</option>
											<option value="AI">آنگویلا</option>
											<option value="AG">آنتیگوآ و باربودا</option>
											<option value="AR">آرژانتین</option>
											<option value="AA">ارمنستان</option>
											<option value="AW">آروبا</option>
											<option value="AU">استرالیا</option>
											<option value="AT">اتریش</option>
											<option value="AZ">آذربایجان</option>
											<option value="BS">باهاما</option>
											<option value="BH">بحرین</option>
											<option value="BD">بنگلادش</option>
											<option value="BB">باربادوس</option>
											<option value="BY">بلاروس</option>
											<option value="BE">بلژیک</option>
											<option value="BZ">بلیز</option>
											<option value="BJ">بنین</option>
											<option value="BM">برمودا</option>
											<option value="BT">بوتان</option>
											<option value="BO">بولیوی</option>
											<option value="BL">بونیر</option>
											<option value="BA">بوسنی و هرزگوین</option>
											<option value="BW">بوتسوانا</option>
											<option value="BR">برزیل</option>
											<option value="BC">قلمرو بریتانیا در اقیانوس هند</option>
											<option value="BN">برونئی</option>
											<option value="BG">بلغارستان</option>
											<option value="BF">بورکینافاسو</option>
											<option value="BI">بوروندی</option>
											<option value="KH">کامبوج</option>
											<option value="CM">کامرون</option>
											<option value="CA">کانادا</option>
											<option value="IC">جزایر قناری</option>
											<option value="CV">کیپ ورد</option>
											<option value="KY">جزایر کیمن</option>
											<option value="CF">جمهوری آفریقای مرکزی</option>
											<option value="TD">چاد</option>
											<option value="CD">جزایر مانش</option>
											<option value="CL">شیلی</option>
											<option value="CN">چین</option>
											<option value="CI">جزایر کریسمس</option>
											<option value="CS">جزایر کوکوس</option>
											<option value="CO">کلمبیا</option>
											<option value="CC">کومورو</option>
											<option value="CG">کونگو</option>
											<option value="CK">جزایر کوک</option>
											<option value="CR">کاستاریکا</option>
											<option value="CT">ساحل عاج</option>
											<option value="HR">کرواسی</option>
											<option value="CU">کوبا</option>
											<option value="CB">کوراکائو</option>
											<option value="CY">قبرس</option>
											<option value="CZ">جمهوری چک</option>
											<option value="DK">دانمارک</option>
											<option value="DJ">جیبوتی</option>
											<option value="DM">دومنیکا</option>
											<option value="DO">جمهوری دومنیکن</option>
											<option value="TM">تیمور شرقی</option>
											<option value="EC">اکوادور</option>
											<option value="EG">مصر</option>
											<option value="SV">ال سالوادور</option>
											<option value="GQ">گینه استوایی</option>
											<option value="ER">اریتره</option>
											<option value="EE">استونی</option>
											<option value="ET">اتیوپی</option>
											<option value="FA">چزایر فالکلند</option>
											<option value="FO">جزایر فارو</option>
											<option value="FJ">فیجی</option>
											<option value="FI">فنلاند</option>
											<option value="FR">فرانسه</option>
											<option value="GF">گویان فرانسه</option>
											<option value="PF">پلی نزی فرانسه</option>
											<option value="FS">سرزمین های جنوبی فرانسه</option>
											<option value="GA">گابون</option>
											<option value="GM">گامبیا</option>
											<option value="GE">گرجستان</option>
											<option value="DE">آلمان</option>
											<option value="GH">غنا</option>
											<option value="GI">جبل الطارق</option>
											<option value="GB">بریتانیا</option>
											<option value="GR">یونان</option>
											<option value="GL">گرینلند</option>
											<option value="GD">گرنادا</option>
											<option value="GP">جزیره گوآدلوپ</option>
											<option value="GU">گوآم</option>
											<option value="GT">گوآتمالا</option>
											<option value="GN">گینه</option>
											<option value="GY">گویان</option>
											<option value="HT">هائیتی</option>
											<option value="HW">هاوایی</option>
											<option value="HN">هندوراس</option>
											<option value="HK">هنگ کنگ</option>
											<option value="HU">مجارستان</option>
											<option value="IS">ایسلند</option>
											<option value="IN">هند</option>
											<option value="ID">اندونزی</option>
											<option value="IA">ایران</option>
											<option value="IQ">عراق</option>
											<option value="IR">ایرلند</option>
											<option value="IM">جزیره من</option>
											<option value="IL">اسرائیل</option>
											<option value="IT">ایتالیا</option>
											<option value="JM">جامائیکا</option>
											<option value="JP">ژاپن</option>
											<option value="JO">اردن</option>
											<option value="KZ">قزاقستان</option>
											<option value="KE">کنیا</option>
											<option value="KI">کریباتی</option>
											<option value="NK">کره شمالی</option>
											<option value="KS">کره جنوبی</option>
											<option value="KW">کویت</option>
											<option value="KG">قرقیزستان</option>
											<option value="LA">لائوس</option>
											<option value="LV">لاتویا</option>
											<option value="LB">لبنان</option>
											<option value="LS">لسوتو</option>
											<option value="LR">لیبریا</option>
											<option value="LY">لیبی</option>
											<option value="LI">لیختنشتاین</option>
											<option value="LT">لتونی</option>
											<option value="LU">لوکزامبورگ</option>
											<option value="MO">ماکائو</option>
											<option value="MK">مقدونیه</option>
											<option value="MG">ماداگاسکار</option>
											<option value="MY">مالزی</option>
											<option value="MW">مالاوی</option>
											<option value="MV">مالدیو</option>
											<option value="ML">مالی</option>
											<option value="MT">مالتا</option>
											<option value="MH">جزایر مارشال</option>
											<option value="MQ">مارتینیک</option>
											<option value="MR">مائوریتانی</option>
											<option value="MU">موریس</option>
											<option value="ME">مایوت</option>
											<option value="MX">مکزیک</option>
											<option value="MI">جزایر میدوی</option>
											<option value="MD">مولداوی</option>
											<option value="MC">موناکو</option>
											<option value="MN">مغولستان</option>
											<option value="MS">مونسرات</option>
											<option value="MA">مراکش</option>
											<option value="MZ">موزامبیک</option>
											<option value="MM">میانمار</option>
											<option value="NA">نامبی</option>
											<option value="NU">نائورا</option>
											<option value="NP">نپال</option>
											<option value="AN">آنتیل هلند</option>
											<option value="NL">هلند</option>
											<option value="NV">نویس</option>
											<option value="NC">کادونیای جدید</option>
											<option value="NZ">نیوزلند</option>
											<option value="NI">نیکاراگوئه</option>
											<option value="NE">نیجر</option>
											<option value="NG">نیجریه</option>
											<option value="NW">نیووی</option>
											<option value="NF">جزایر نورفولک</option>
											<option value="NO">نروژ</option>
											<option value="OM">عمان</option>
											<option value="PK">پاکستان</option>
											<option value="PW">جزایر پالائو</option>
											<option value="PS">فلسطین</option>
											<option value="PA">پاناما</option>
											<option value="PG">گینه پاپوآ</option>
											<option value="PY">پاراگوئه</option>
											<option value="PE">پرو</option>
											<option value="PH">فیلیپین</option>
											<option value="PO">پزایر پیتکایرن</option>
											<option value="PL">لهستان</option>
											<option value="PT">پرتغال</option>
											<option value="PR">پورتوریکو</option>
											<option value="QA">قطر</option>
											<option value="ME">جمهوری مونته نگرو</option>
											<option value="RE">رئونیون</option>
											<option value="RO">رومانی</option>
											<option value="RU">روسیه</option>
											<option value="RW">رواندا</option>
											<option value="SM">سن مارینو</option>
											<option value="SA">عربستان سعودی</option>
											<option value="SN">سنگال</option>
											<option value="RS">صربستان</option>
											<option value="SL">سیرالئون</option>
											<option value="SG">سنگاپور</option>
											<option value="SK">اسلواکی</option>
											<option value="SI">اسلوونی</option>
											<option value="SB">جزایر سلیمان</option>
											<option value="OI">سومالی</option>
											<option value="ZA">آفریقای جنوبی</option>
											<option value="ES">اسپانیا</option>
											<option value="LK">سریلانکا</option>
											<option value="SD">سودان</option>
											<option value="SR">سورینام</option>
											<option value="SE">سوئی</option>
											<option value="CH">سوئیس</option>
											<option value="SY">سوریه</option>
											<option value="TA">تاهیتی</option>
											<option value="TW">تایوان</option>
											<option value="TJ">تاجیکستان</option>
											<option value="TZ">تانزانیا</option>
											<option value="TH">تایلند</option>
											<option value="TG">توگو</option>
											<option value="TT">ترینداد و توباگو</option>
											<option value="TN">تونس</option>
											<option value="TR">ترکیه</option>
											<option value="TU">ترکمنستان</option>
											<option value="UG">اوگاندا</option>
											<option value="UA">اوکراین</option>
											<option value="AE">امارات</option>
											<option value="GB">انگلستان</option>
											<option value="US">آمریکا</option>
											<option value="UY">اروگوئه</option>
											<option value="UZ">ازبکستان</option>
											<option value="VS">واتیکان</option>
											<option value="VE">ونزوئلا</option>
											<option value="VN">ویتنام</option>
											<option value="YE">یمن</option>
											<option value="ZM">زامبیا</option>
											<option value="ZW">زیمباوه</option>
										</select>
									</div>
									<div class="mb-3">
										<label class="form-label">کنترل چندتایی انتخاب 2</label>
										<select class="multiple-select" data-placeholder="Choose anything"
											multiple="multiple">
											<option value="AF">افغانستان</option>
											<option value="AL" selected>آلبانی</option>
											<option value="DZ" selected>الجزایر</option>
											<option value="AS">ساموآی آمریکا</option>
											<option value="AD">آندورا</option>
											<option value="AG">آنگولا</option>
											<option value="AI">آنگویلا</option>
											<option value="AG">آنتیگوآ و باربودا</option>
											<option value="AR">آرژانتین</option>
											<option value="AA">ارمنستان</option>
											<option value="AW">آروبا</option>
											<option value="AU">استرالیا</option>
											<option value="AT">اتریش</option>
											<option value="AZ">آذربایجان</option>
											<option value="BS">باهاما</option>
											<option value="BH">بحرین</option>
											<option value="BD">بنگلادش</option>
											<option value="BB">باربادوس</option>
											<option value="BY">بلاروس</option>
											<option value="BE">بلژیک</option>
											<option value="BZ">بلیز</option>
											<option value="BJ">بنین</option>
											<option value="BM">برمودا</option>
											<option value="BT">بوتان</option>
											<option value="BO">بولیوی</option>
											<option value="BL">بونیر</option>
											<option value="BA">بوسنی و هرزگوین</option>
											<option value="BW">بوتسوانا</option>
											<option value="BR">برزیل</option>
											<option value="BC">قلمرو بریتانیا در اقیانوس هند</option>
											<option value="BN">برونئی</option>
											<option value="BG">بلغارستان</option>
											<option value="BF">بورکینافاسو</option>
											<option value="BI">بوروندی</option>
											<option value="KH">کامبوج</option>
											<option value="CM">کامرون</option>
											<option value="CA">کانادا</option>
											<option value="IC">جزایر قناری</option>
											<option value="CV">کیپ ورد</option>
											<option value="KY">جزایر کیمن</option>
											<option value="CF">جمهوری آفریقای مرکزی</option>
											<option value="TD">چاد</option>
											<option value="CD">جزایر مانش</option>
											<option value="CL">شیلی</option>
											<option value="CN">چین</option>
											<option value="CI">جزایر کریسمس</option>
											<option value="CS">جزایر کوکوس</option>
											<option value="CO">کلمبیا</option>
											<option value="CC">کومورو</option>
											<option value="CG">کونگو</option>
											<option value="CK">جزایر کوک</option>
											<option value="CR">کاستاریکا</option>
											<option value="CT">ساحل عاج</option>
											<option value="HR">کرواسی</option>
											<option value="CU">کوبا</option>
											<option value="CB">کوراکائو</option>
											<option value="CY">قبرس</option>
											<option value="CZ">جمهوری چک</option>
											<option value="DK">دانمارک</option>
											<option value="DJ">جیبوتی</option>
											<option value="DM">دومنیکا</option>
											<option value="DO">جمهوری دومنیکن</option>
											<option value="TM">تیمور شرقی</option>
											<option value="EC">اکوادور</option>
											<option value="EG">مصر</option>
											<option value="SV">ال سالوادور</option>
											<option value="GQ">گینه استوایی</option>
											<option value="ER">اریتره</option>
											<option value="EE">استونی</option>
											<option value="ET">اتیوپی</option>
											<option value="FA">چزایر فالکلند</option>
											<option value="FO">جزایر فارو</option>
											<option value="FJ">فیجی</option>
											<option value="FI">فنلاند</option>
											<option value="FR">فرانسه</option>
											<option value="GF">گویان فرانسه</option>
											<option value="PF">پلی نزی فرانسه</option>
											<option value="FS">سرزمین های جنوبی فرانسه</option>
											<option value="GA">گابون</option>
											<option value="GM">گامبیا</option>
											<option value="GE">گرجستان</option>
											<option value="DE">آلمان</option>
											<option value="GH">غنا</option>
											<option value="GI">جبل الطارق</option>
											<option value="GB">بریتانیا</option>
											<option value="GR">یونان</option>
											<option value="GL">گرینلند</option>
											<option value="GD">گرنادا</option>
											<option value="GP">جزیره گوآدلوپ</option>
											<option value="GU">گوآم</option>
											<option value="GT">گوآتمالا</option>
											<option value="GN">گینه</option>
											<option value="GY">گویان</option>
											<option value="HT">هائیتی</option>
											<option value="HW">هاوایی</option>
											<option value="HN">هندوراس</option>
											<option value="HK">هنگ کنگ</option>
											<option value="HU">مجارستان</option>
											<option value="IS">ایسلند</option>
											<option value="IN">هند</option>
											<option value="ID">اندونزی</option>
											<option value="IA" selected>ایران</option>
											<option value="IQ">عراق</option>
											<option value="IR">ایرلند</option>
											<option value="IM">جزیره من</option>
											<option value="IL">اسرائیل</option>
											<option value="IT">ایتالیا</option>
											<option value="JM">جامائیکا</option>
											<option value="JP">ژاپن</option>
											<option value="JO">اردن</option>
											<option value="KZ">قزاقستان</option>
											<option value="KE">کنیا</option>
											<option value="KI">کریباتی</option>
											<option value="NK">کره شمالی</option>
											<option value="KS">کره جنوبی</option>
											<option value="KW">کویت</option>
											<option value="KG">قرقیزستان</option>
											<option value="LA">لائوس</option>
											<option value="LV">لاتویا</option>
											<option value="LB">لبنان</option>
											<option value="LS">لسوتو</option>
											<option value="LR">لیبریا</option>
											<option value="LY">لیبی</option>
											<option value="LI">لیختنشتاین</option>
											<option value="LT">لتونی</option>
											<option value="LU">لوکزامبورگ</option>
											<option value="MO">ماکائو</option>
											<option value="MK">مقدونیه</option>
											<option value="MG">ماداگاسکار</option>
											<option value="MY">مالزی</option>
											<option value="MW">مالاوی</option>
											<option value="MV">مالدیو</option>
											<option value="ML">مالی</option>
											<option value="MT">مالتا</option>
											<option value="MH">جزایر مارشال</option>
											<option value="MQ">مارتینیک</option>
											<option value="MR">مائوریتانی</option>
											<option value="MU">موریس</option>
											<option value="ME">مایوت</option>
											<option value="MX">مکزیک</option>
											<option value="MI">جزایر میدوی</option>
											<option value="MD">مولداوی</option>
											<option value="MC">موناکو</option>
											<option value="MN">مغولستان</option>
											<option value="MS">مونسرات</option>
											<option value="MA">مراکش</option>
											<option value="MZ">موزامبیک</option>
											<option value="MM">میانمار</option>
											<option value="NA">نامبی</option>
											<option value="NU">نائورا</option>
											<option value="NP">نپال</option>
											<option value="AN">آنتیل هلند</option>
											<option value="NL">هلند</option>
											<option value="NV">نویس</option>
											<option value="NC">کادونیای جدید</option>
											<option value="NZ">نیوزلند</option>
											<option value="NI">نیکاراگوئه</option>
											<option value="NE">نیجر</option>
											<option value="NG">نیجریه</option>
											<option value="NW">نیووی</option>
											<option value="NF">جزایر نورفولک</option>
											<option value="NO">نروژ</option>
											<option value="OM">عمان</option>
											<option value="PK">پاکستان</option>
											<option value="PW">جزایر پالائو</option>
											<option value="PS">فلسطین</option>
											<option value="PA">پاناما</option>
											<option value="PG">گینه پاپوآ</option>
											<option value="PY">پاراگوئه</option>
											<option value="PE">پرو</option>
											<option value="PH">فیلیپین</option>
											<option value="PO">پزایر پیتکایرن</option>
											<option value="PL">لهستان</option>
											<option value="PT">پرتغال</option>
											<option value="PR">پورتوریکو</option>
											<option value="QA">قطر</option>
											<option value="ME">جمهوری مونته نگرو</option>
											<option value="RE">رئونیون</option>
											<option value="RO">رومانی</option>
											<option value="RU">روسیه</option>
											<option value="RW">رواندا</option>
											<option value="SM">سن مارینو</option>
											<option value="SA">عربستان سعودی</option>
											<option value="SN">سنگال</option>
											<option value="RS">صربستان</option>
											<option value="SL">سیرالئون</option>
											<option value="SG">سنگاپور</option>
											<option value="SK">اسلواکی</option>
											<option value="SI">اسلوونی</option>
											<option value="SB">جزایر سلیمان</option>
											<option value="OI">سومالی</option>
											<option value="ZA">آفریقای جنوبی</option>
											<option value="ES">اسپانیا</option>
											<option value="LK">سریلانکا</option>
											<option value="SD">سودان</option>
											<option value="SR">سورینام</option>
											<option value="SE">سوئی</option>
											<option value="CH">سوئیس</option>
											<option value="SY">سوریه</option>
											<option value="TA">تاهیتی</option>
											<option value="TW">تایوان</option>
											<option value="TJ">تاجیکستان</option>
											<option value="TZ">تانزانیا</option>
											<option value="TH">تایلند</option>
											<option value="TG">توگو</option>
											<option value="TT">ترینداد و توباگو</option>
											<option value="TN">تونس</option>
											<option value="TR">ترکیه</option>
											<option value="TU">ترکمنستان</option>
											<option value="UG">اوگاندا</option>
											<option value="UA">اوکراین</option>
											<option value="AE">امارات</option>
											<option value="GB">انگلستان</option>
											<option value="US">آمریکا</option>
											<option value="UY">اروگوئه</option>
											<option value="UZ">ازبکستان</option>
											<option value="VS">واتیکان</option>
											<option value="VE">ونزوئلا</option>
											<option value="VN">ویتنام</option>
											<option value="YE">یمن</option>
											<option value="ZM">زامبیا</option>
											<option value="ZW">زیمباوه</option>
										</select>
									</div>
									<div class="mb-3">
										<label class="form-label">گروه ورودی انتخاب 2</label>
										<div class="input-group">
											<select class="single-select form-select">
												<option selected>آخرین بازدید</option>
												<option value="1">داشبورد</option>
												<option value="2">کنترل</option>
												<option value="3">فرم ها</option>
												<option value="3">نقشه</option>
												<option value="3">محصول سفارشی</option>
											</select>
											<button class="btn btn-outline-secondary" type="button"><i
													class='bx bx-search'></i>
											</button>
										</div>
									</div>
									<div class="mb-3">
										<label class="form-label">گروه ورودی انتخاب 2</label>
										<div class="input-group">
											<button class="btn btn-outline-secondary" type="button"><i
													class='bx bx-search'></i>
											</button>
											<select class="form-select single-select" id="inputGroupSelect03"
												aria-label="Example select with button addon">
												<option selected>آخرین بازدید</option>
												<option value="1">داشبورد</option>
												<option value="2">کنترل</option>
												<option value="3">فرم ها</option>
												<option value="3">نقشه</option>
												<option value="3">محصول سفارشی</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->

@section Scripts{
  	<script>
		$('.single-select').select2({
			theme: 'bootstrap4',
			width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
			placeholder: $(this).data('placeholder'),
			allowClear: Boolean($(this).data('allow-clear')),
		});
		$('.multiple-select').select2({
			theme: 'bootstrap4',
			width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
			placeholder: $(this).data('placeholder'),
			allowClear: Boolean($(this).data('allow-clear')),
		});
	</script>
}