@{
    ViewData["Title"] = "TableBasic";
}

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">جداول</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    
                    
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">جدول پایه</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">تنظیمات</button>
            <button type="button"
                    class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown">
     
     
                                    <span class="visually-hidden">فهرست کشویی</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
      
      
                                  <a class="dropdown-item" href="javascript:;">عمل</a>
                <a class="dropdown-item" href="javascript:;">عمل دیگر</a>
                <a class="dropdown-item" href="javascript:;">هر چیز دیگر اینجا</a>
                <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">
                    
                    
                    لینک
                    جدا کننده
                
                
                </a>
            </div>
        </div>
    </div>
</div>
<!--end breadcrumb-->
<div class="row">
    <div class="col">
        <h6 class="mb-0 text-uppercase">جدول پایه</h6>
        <hr />
        <div class="card">
            <div class="card-body">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">نام کاربری</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>رضا</td>
                            <td>افشار</td>
                            <td>Reza</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>پریسا</td>
                            <td>توکلی</td>
                            <td>Parisa</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">ساناز حسینی</td>
                            <td>Sanaz</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">ردیف های راه راه</h6>
        <hr />
        <div class="card">
            <div class="card-body">
                <table class="table mb-0 table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">نام کاربری</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>رضا</td>
                            <td>افشار</td>
                            <td>Reza</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>پریسا</td>
                            <td>توکلی</td>
                            <td>Parisa</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">ساناز حسینی</td>
                            <td>Sanaz</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">جدول تیره</h6>
        <hr />
        <div class="card">
            <div class="card-body">
                <table class="table mb-0 table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">نام کاربری</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>رضا</td>
                            <td>افشار</td>
                            <td>Reza</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>پریسا</td>
                            <td>توکلی</td>
                            <td>Parisa</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">ساناز حسینی</td>
                            <td>Sanaz</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">ردیف های قابل هاور</h6>
        <hr />
        <div class="card">
            <div class="card-body">
                <table class="table mb-0 table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">نام کاربری</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>رضا</td>
                            <td>افشار</td>
                            <td>Reza</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>پریسا</td>
                            <td>توکلی</td>
                            <td>Parisa</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">ساناز حسینی</td>
                            <td>Sanaz</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">جدول با خط مرز</h6>
        <hr />
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">نام کاربری</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>رضا</td>
                            <td>افشار</td>
                            <td>Reza</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>پریسا</td>
                            <td>توکلی</td>
                            <td>Parisa</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">ساناز حسینی</td>
                            <td>Sanaz</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">جدول بدون خط مرز</h6>
        <hr />
        <div class="card">
            <div class="card-body">
                <table class="table table-borderless mb-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">نام کاربری</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>رضا</td>
                            <td>افشار</td>
                            <td>Reza</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>پریسا</td>
                            <td>توکلی</td>
                            <td>Parisa</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">ساناز حسینی</td>
                            <td>Sanaz</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">جدول کوچک</h6>
        <hr />
        <div class="card">
            <div class="card-body">
                <table class="table table-sm mb-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">نام کاربری</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>رضا</td>
                            <td>افشار</td>
                            <td>Reza</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>پریسا</td>
                            <td>توکلی</td>
                            <td>Parisa</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">ساناز حسینی</td>
                            <td>Sanaz</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">سربرگ جدول</h6>
        <hr />
        <div class="card">
            <div class="card-body">
                <table class="table mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">نام کاربری</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>رضا</td>
                            <td>افشار</td>
                            <td>Reza</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>پریسا</td>
                            <td>توکلی</td>
                            <td>Parisa</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">ساناز حسینی</td>
                            <td>Sanaz</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--end row-->

